<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
<style>

h1 {justify-content: center; align-content: center; display: flex;}
.wrapper {height: 700px;}
.bottom {height: 800px;display: flex; justify-content: space-around;}
.box {height: 300px; width: 300px; background-color: #9fc5f8;}

</style>
</head>
<body>
    <Div class="wrapper" >
        <div class = "top">
            <h1>Welcome!</h1>
        </div>
        <div class ="bottom">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </Div>
</body>
</html>